Chat_agent.json
{
  "name": "Chat_agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        -100
      ],
      "id": "41747694-7815-479e-8b79-8529e4e6a13d",
      "name": "When chat message received",
      "webhookId": "b3126e52-a5a7-42c3-99fb-ebcda348f201"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"chatInput\"]}}",
        "options": {
          "systemMessage": "You are an AI assistant specialized in analyzing technical documentation related to Linux, Git, and DevOps.\nYour primary task is to provide accurate and concise answers strictly based on the documents stored in the vector database.\n \nResponse Guidelines:\n \nBase every response solely on the data available in the vector store.\n \nDo not guess or assume information not present in the documents.\n \nIf a topic is unclear or not found in the dataset, explicitly state that the information is unavailable.\n \nUse clear, direct language focused on technical accuracy.\n \nWhen applicable, reference the source document name or section title for clarity.\n \nObjectives:\n \nDeliver reliable and quick insights into Linux, Git, and DevOps topics.\n \nAvoid unnecessary elaboration or off-topic content.\n \nEmphasize practical and specific answers — commands, configs, processes, best practices, etc.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        208,
        -144
      ],
      "id": "5be1c505-398f-453a-b100-e310f2d3943c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -336,
        160
      ],
      "id": "5dc35a9a-c821-49a9-ace9-2f7e1bf53c9c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "BvB2XrcNawBx310j",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Only use the vector store if embeddings are available. Otherwise, answer based on the question alone."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        448,
        32
      ],
      "id": "ad723d42-6d5c-48bf-ae05-ec5d0d21fb46",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "Rag-data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        352,
        192
      ],
      "id": "ac0a1b59-8198-450c-985a-61cc8392b6a2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hxdRA7teSUyB6WUI",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        240
      ],
      "id": "1d032fd6-2055-4ce7-9c2d-721cc924100e",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "BvB2XrcNawBx310j",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        140,
        140
      ],
      "id": "6feb3c18-fca1-45e0-9284-33b7842d7ac1",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "id": "6b2d4637-db5d-42d9-8e1b-cf7a98619df4",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GZEgPiEQY0aLvwcd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        []
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46ad82d8-dbc7-45b4-94d1-d60a112f55ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d212065f31cb3342cc7f392bf2e48565bf5e3089f2c080249d68998d6038af8"
  },
  "id": "npw2T2OKp6Di8NVN",
  "tags": []
}