custom_rag.json
{
  "name": "custom_rag",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        -40
      ],
      "id": "c3469137-27f1-4a62-9235-c82b49cd8702",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1rUiQYbEjZ_RN15K0IBYAyy_7lMi9tKJZ",
            "mode": "list",
            "cachedResultName": "Chatbot_data",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1rUiQYbEjZ_RN15K0IBYAyy_7lMi9tKJZ"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -120,
        -40
      ],
      "id": "19fd7c00-4818-4bef-8403-24ef9cd65280",
      "name": "Google Drive",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "igO001UaGuGImtPp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        -40
      ],
      "id": "70804b24-c23e-4bff-bee6-f637da29739c",
      "name": "Get Google Drive Cotent",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "igO001UaGuGImtPp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "embeddingBatchSize": 150,
        "options": {
          "pineconeNamespace": "Rag-data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        540,
        -140
      ],
      "id": "e16350f2-8e6b-485b-9ae9-5b710b1aafac",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "5TbOyUuniCny5vaB",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        660,
        100
      ],
      "id": "3ce33284-c68c-4907-98f7-3f3f0e9c429b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        760,
        320
      ],
      "id": "21bd4a9c-84b6-4c1c-b1af-e1c68c25137b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        460,
        180
      ],
      "id": "a76a6556-a812-4dbb-9b17-afe07fe82c06",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "JnYYqlFTnuo1KC2u",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Get Google Drive Cotent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Drive Cotent": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2bc7ee2e-c32f-423d-8a1c-459e8b2ac712",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d212065f31cb3342cc7f392bf2e48565bf5e3089f2c080249d68998d6038af8"
  },
  "id": "ktL8rfyAes4SdLe1",
  "tags": []
}